h1 {
  color:aqua;
  font-family:helvetica;
  background-color: deeppink;
  border: 2px dotted white;
  padding:50px;
}
p {
  color:aquamarine;
}
h5 {
  color:cyan;
  background-color: black;
  border: 3px solid deeppink;
}
img {
  border:5px double white;
  width: 50%;
  height: 25%;
  margin-left:200px;
}

body {
  background-color: grey;
}
